@use "@/styles/abstracts/mixins";
@use "@/styles/abstracts/variables";

.heroSection {
  position: relative;
  background: var(--light) url("/images/background/hero-bg.svg") no-repeat fixed
    center center;
  background-size: cover;
  padding: 80px 0 10%;

  @media (min-width: 768px) {
    padding: 15% 0 10%;
  }

  @media (min-width: 1600px) {
    padding: 200px 0;
  }

  .auroraContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
  }

  .heroWrapper {
    @media (min-width: 768px) {
      display: flex;
      gap: 1%;
      flex-wrap: wrap;
    }
  }

  .heroImg {
    position: relative;
    overflow: hidden; // ensures animation stays inside

    @media (min-width: 768px) {
      width: 34%;
      order: 2;
    }

    .magicBotContainer {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      perspective: 800px; // enables 3D effect

      .magicBot {
        width: 260px;
        animation: circularMotion 8s linear infinite,
          glowPulse 3s ease-in-out infinite;
        transform-style: preserve-3d;
        backface-visibility: hidden;

        @media (min-width: 768px) {
          width: auto;
        }
      }
    }
  }

  .heroContent {
    position: relative;
    z-index: 2;

    @media (min-width: 768px) {
      width: 65%;
      order: 1;
    }

    .heroTitle {
      font-family: var(--font);
      font-weight: 500;
      font-size: 38px;
      line-height: 1;
      margin-bottom: 24px;

      @media (min-width: 576px) {
        font-size: 70px;
      }

      @media (min-width: 768px) {
        font-size: 64px;
      }

      @media (min-width: 992px) {
        font-size: 80px;
      }

      @media (min-width: 1200px) {
        font-size: 90px;
      }

      @media (min-width: 1600px) {
        font-size: 120px;
        margin-bottom: 30px;
      }
    }

    .heroSubContent {
      .heroDescription {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 40px;

        @media (min-width: 768px) {
          font-size: 14px;
          line-height: 18px;
        }

        @media (min-width: 992px) {
          font-size: 16px;
          line-height: 22px;
        }

        @media (min-width: 1200px) {
          font-size: 20px;
          line-height: 26px;
        }

        @media (min-width: 1600px) {
          font-size: 24px;
          line-height: 33px;
        }
      }
    }

    .linkWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      @media (min-width: 576px) {
        flex-direction: row;
        gap: 24px;
      }

      @media (min-width: 1200px) {
        gap: 20px;
      }

      @media (min-width: 1600px) {
        gap: 24px;
      }

      .linkButton {
        display: flex;
      }

      .link {
        color: var(--dark);
        font-size: 12px;
        font-weight: 500;
        text-decoration: underline;
        transform: scale(1);
        transition: transform 0.2s ease;
        will-change: transform;

        @media (min-width: 992px) {
          font-size: 16px;
        }

        @media (min-width: 1200px) {
          font-size: 20px;
        }

        @media (min-width: 1600px) {
          font-size: 24px;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .detailWrapper {
      font-size: 12px;
      margin-top: 24px;
      text-align: center;

      @media (min-width: 576px) {
        text-align: left;
      }

      @media (min-width: 768px) {
        font-size: 15px;
      }

      @media (min-width: 992px) {
        // font-size: 18px;
      }

      @media (min-width: 1200px) {
        // font-size: 21px;
        margin-top: 30px;
      }

      @media (min-width: 1600px) {
        // font-size: 24px;
        margin-top: 36px;
      }
    }
  }
}

@keyframes circularMotion {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(30px, -80px);
  }
  50% {
    transform: translate(60px, 0px);
  }
  75% {
    transform: translate(30px, 60px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes glowPulse {
  0% {
    filter: drop-shadow(0 0 0 #00ffd5);
  }
  50% {
    filter: drop-shadow(0 0 10px #02ffc0);
  }
  100% {
    filter: drop-shadow(0 0 0 #00ffd5);
  }
}
