@use "@/styles/abstracts/mixins";
@use "@/styles/abstracts/variables";

.resultSection {
  background-color: var(--light);
  padding: 10% 0 5%;

  .titleBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 60px;

    @media (min-width: 576px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: 1200px) {
      gap: 50px;
    }

    h2 {
      font-family: var(--font);
      font-size: 32px;
      font-weight: 400;
      line-height: 1;

      @media (min-width: 576px) {
        font-size: 46px;
        width: 72%;
      }

      @media (min-width: 768px) {
        font-size: 40px;
      }

      @media (min-width: 992px) {
        font-size: 52px;
      }

      @media (min-width: 1200px) {
        font-size: 64px;
      }

      @media (min-width: 1400px) {
        font-size: 72px;
      }

      @media (min-width: 1600px) {
        font-size: 80px;
      }
    }
  }
}

.stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(5, 1fr);
  }

  .statItem {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;

    @media (min-width: 768px) {
      padding: 20px;
    }
  }

  .odometerWrapper {
    display: inline-flex;
    align-items: center;
  }

  .digitWrapper {
    width: 30px;
    height: 38px;
    overflow: hidden;
    display: inline-block;
    perspective: 400px;

    @media (min-width: 768px) {
      width: 40px;
      height: 54px;
    }

    @media (min-width: 1200px) {
      width: 65px;
      height: 125px;
    }

    .digitList {
      display: flex;
      flex-direction: column;
      transform: translateY(0);
      transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);

      span {
        display: block;
        text-align: center;
        font-size: 50px;
        line-height: 38px;
        height: 38px;

        @media (min-width: 768px) {
          font-size: 60px;
          height: 50px;
          line-height: 50px;
        }

        @media (min-width: 1200px) {
          font-size: 90px;
          height: 125px;
          line-height: 125px;
        }

        @media (min-width: 1400px) {
          font-size: 100px;
        }
      }
    }

    &.roll .digitList {
      transform: translateY(-380px);

      @media (min-width: 768px) {
        transform: translateY(-496px);
      }

      @media (min-width: 1200px) {
        transform: translateY(-1250px);
      }
    }
  }

  .suffix {
    font-size: 50px;
    color: var(--color-primary);

    @media (min-width: 768px) {
      font-size: 60px;
    }

    @media (min-width: 1200px) {
      font-size: 90px;
    }

    @media (min-width: 1400px) {
      font-size: 100px;
    }
  }

  .labelText {
    font-family: var(--font);
    font-size: 16px;
    line-height: 28px;

    @media (min-width: 768px) {
      font-size: 20px;
    }

    @media (min-width: 1200px) {
      font-size: 24px;
    }
  }
}
