@use "@/styles/abstracts/mixins";
@use "@/styles/abstracts/variables";

.testimonialSection {
  background-color: var(--light);
  padding: 10% 0;

  @media (min-width: 1600px) {
    padding: 200px 0;
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;

    @media (min-width: 992px) {
      flex-direction: row;
      align-items: flex-end;
    }

    @media (min-width: 1200px) {
      // margin-bottom: 30px;
    }
  }

  .testimonialTitle {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 24px;

    @media (min-width: 576px) {
      font-size: 48px;
    }

    @media (min-width: 768px) {
      font-size: 40px;
    }

    @media (min-width: 992px) {
      font-size: 52px;
    }

    @media (min-width: 1200px) {
      font-size: 64px;
    }

    @media (min-width: 1400px) {
      font-size: 70px;
    }

    @media (min-width: 1600px) {
      font-size: 80px;
    }
  }

  .subtitle {
    font-size: 16px;
    line-height: 20px;

    @media (min-width: 992px) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (min-width: 1400px) {
      font-size: 24px;
      line-height: 30px;
    }

    @media (min-width: 1600px) {
      font-size: 30px;
      line-height: 38px;
    }
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .filterBtn {
      padding: 5px 10px;
      border-width: 0 0 1px;
      border-style: solid;
      border-color: transparent;
      border-radius: 0;
      background: var(--light);
      color: var(--dark);
      font-size: 14px;
      font-family: var(--font);
      font-weight: 400;
      text-transform: none;
      min-width: initial;
      line-height: initial;
      transition: all 0.3s ease-in-out;

      @media (min-width: 992px) {
        font-size: 16px;
      }

      @media (min-width: 1200px) {
        font-size: 18px;
      }

      &.active,
      &:hover {
        font-weight: 500;
      }

      &.active {
        border-color: var(--dark);
      }
    }
  }

  .gridWrapper {
    position: relative;
  }

  .cardWrap {
    padding: 10px 0;
    overflow: hidden;
    transition: max-height 0.6s ease;

    .cardGrid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px 0;
      transition: max-height 0.5s ease;

      @media (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .testiCard {
      padding: 20px;
      min-height: 520px;
      width: 100%;

      @media (min-width: 576px) {
        // min-height: 520px;
        width: 240px;
      }

      @media (min-width: 768px) {
        min-height: 485px;
        width: 320px;
      }

      @media (min-width: 992px) {
        min-height: 490px;
        width: 300px;
      }

      @media (min-width: 1200px) {
        min-height: 500px;
        width: 360px;
      }

      @media (min-width: 1400px) {
        min-height: 480px;
        width: 420px;
      }

      @media (min-width: 1600px) {
        min-height: 500px;
        width: 470px;
      }

      .testiCardContent {
        border-radius: 10px;
        margin: auto;
        background-color: var(--black-175);
        padding: 30px;

        .tag {
          display: inline-block;
          border-radius: 10px;
          background-color: var(--light);
          font-size: 14px;
          font-weight: 500;
          padding: 5px 10px;
          color: var(--color-primary-100);
        }

        .authorName {
          display: flex;
          align-items: center;
          gap: 10px;
          margin: 20px 0;

          .authorImg {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            overflow: hidden;
          }

          h3 {
            font-size: 18px;
            font-weight: 500;
            font-family: var(--font);
          }
        }

        h4 {
          font-family: var(--font);
          font-size: 18px;
          font-weight: 500;
          line-height: 25px;

          @media (min-width: 992px) {
            font-size: 24px;
          }
        }

        p {
          font-family: var(--font);
          font-size: 14px;
          line-height: 25px;
          margin-bottom: 20px;
        }

        .testiImg {
          border-radius: 10px;
          overflow: hidden;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .detWrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          margin-top: 20px;

          @media (min-width: 1200px) {
            flex-direction: row;
          }

          .percentTag {
            background-color: var(--light);
            padding: 6px 20px;
            font-size: 18px;
            font-weight: 500;
            line-height: 25px;
            border-radius: 30px;
          }

          .readLink {
            color: var(--dark);
            font-family: var(--font);
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: none;
            padding: 0;
            transition: all 0.3s ease-in-out;

            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .showMore {
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);

    @media (min-width: 992px) {
      bottom: -40px;
    }

    button {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: none;
      border-radius: 50%;
      background: var(--dark);
      color: var(--color-primary);
      font-size: 18px;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      @media (min-width: 992px) {
        font-size: 24px;
        width: 74px;
        height: 74px;
        padding: 20px;
      }

      img {
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        img {
          transform: translateY(-5px);
        }
      }
    }
  }
}
