@use "@/styles/abstracts/mixins";
@use "@/styles/abstracts/variables";

.workflowSection {
  position: relative;
  background: var(--black-150) url("/images/background/workflow-bg.svg")
    no-repeat fixed right center;
  background-size: cover;
  padding: 10% 0;

  @media (min-width: 1600px) {
    padding: 200px 0;
  }

  .titleBlock {
    .workflowTitle {
      font-family: var(--font);
      font-size: 32px;
      line-height: 1;
      font-weight: 400;
      margin-bottom: 24px;

      @media (min-width: 576px) {
        font-size: 48px;
      }

      @media (min-width: 768px) {
        font-size: 40px;
      }

      @media (min-width: 992px) {
        font-size: 52px;
      }

      @media (min-width: 1200px) {
        font-size: 64px;
      }

      @media (min-width: 1400px) {
        font-size: 72px;
      }

      @media (min-width: 1600px) {
        font-size: 80px;
      }
    }
  }

  .workflowSubtitle {
    font-family: var(--font);
    font-size: 16px;
    line-height: 20px;

    @media (min-width: 992px) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (min-width: 1400px) {
      font-size: 24px;
      line-height: 30px;
    }

    @media (min-width: 1600px) {
      font-size: 30px;
      line-height: 38px;
    }
  }

  .workflowCards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 0;
    margin-top: 30px;

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 992px) {
      margin-top: 50px;
      grid-template-columns: repeat(4, 1fr);
    }

    .workflowCard {
      padding: 20px;
      min-height: 480px;

      @media (min-width: 768px) {
        min-height: 510px;
      }

      @media (min-width: 992px) {
        min-height: 475px;
      }

      @media (min-width: 1200px) {
        min-height: 610px;
      }

      .workCardContent {
        padding: 30px 20px;
        border-radius: 20px;
        background-color: var(--light);
        height: 100%;
      }

      .step {
        display: block;
        font-size: 18px;
        text-align: right;
        color: #808080;

        @media (min-width: 992px) {
          font-size: 22px;
        }

        @media (min-width: 1200px) {
          font-size: 24px;
        }
      }

      img {
        width: 100%;
        max-width: 250px;
        margin: 20px auto;

        @media (min-width: 1200px) {
          margin: 40px auto;
        }
      }

      h3 {
        font-family: var(--font);
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;

        @media (min-width: 1200px) {
          font-size: 26px;
        }
      }

      p {
        font-family: var(--font);
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        opacity: 0.5;

        @media (min-width: 1200px) {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
}
