@use "./reset.scss";
@use "./abstracts/mixins";
@use "./abstracts/variables";
@use "./fonts.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark);
  background-color: var(--light);
  font-family: var(--font);
  font-weight: 400;
  display: flex;
  flex-direction: column;

  * {
    letter-spacing: 0 !important;
  }
}

img {
  max-width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1; // ensures it fills viewport height

  main {
    flex: 1; // main takes remaining space
    display: flex;
    flex-direction: column;
  }
}

button {
  min-width: initial !important;
}

.swiper {
  // padding-bottom: 130px;

  .swiper-slide {
    height: auto;
    display: flex;
  }
}

.hero-animate-wrapper {
  overflow-x: hidden;

  .circular-text {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 5%;
    bottom: 10%;

    span {
      font-size: 14px;
      color: var(--dark);
    }
  }
}

.logo-cloud-wrapper {
  padding-top: 15%;

  img {
    height: 50px;
  }
}

.tilted-card-demo-text {
  text-transform: capitalize;
  color: #fff;
  letter-spacing: -0.5px;
  background: #0006;
  border-radius: 15px;
  margin: 2em;
  padding: 0.5rem 1em;
  font-family: Figtree;
  font-weight: 900;
  box-shadow: 0 5px 30px #06001059;
}

.footer-animate-wrapper {
  position: relative;

  .aurora-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 70%;

    canvas {
      height: 100% !important;
    }
  }
}

.service-card-wrapper {
  display: flex;
  border-radius: 20px;
  width: 100%;
  padding: 20px;
  overflow: hidden;

  .tilted-card-img {
    display: none;
  }

  .tilted-card-overlay {
    width: 100%;
  }
}

.testi-card {
  .tilted-card-overlay {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}

.workflow-card-Wrapper {
  .tilted-card-overlay {
    height: 100%;
  }
}

.portfolio-card-inner {
  height: 100%;
}
