@use "@/styles/abstracts/mixins";
@use "@/styles/abstracts/variables";

.siteFooter {
  background: var(--dark);
  overflow-x: hidden;

  .footerTop {
    color: var(--light);
    padding: 7% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    position: relative;
    z-index: 1;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-end;
      gap: 60px;
    }

    @media (min-width: 1400px) {
      padding: 120px 0;
    }

    .titleBlock {
      @media (min-width: 768px) {
        width: 50%;
      }

      @media (min-width: 1200px) {
        width: 50%;
      }

      @media (min-width: 1400px) {
        width: 47%;
      }

      .title {
        font-size: 32px;
        line-height: 1;
        font-weight: 400;
        margin-bottom: 24px;

        @media (min-width: 576px) {
          font-size: 48px;
        }

        @media (min-width: 768px) {
          font-size: 40px;
        }

        @media (min-width: 992px) {
          font-size: 52px;
        }

        @media (min-width: 1200px) {
          font-size: 54px;
        }

        @media (min-width: 1400px) {
          font-size: 72px;
        }

        @media (min-width: 1600px) {
          font-size: 80px;
        }

        span {
          font-weight: 600;
        }

        .footerTitleBottom {
          color: var(--color-primary);
          font-weight: 600;
        }
      }

      .footerSubtitle {
        font-size: 16px;

        @media (min-width: 992px) {
          font-size: 18px;
        }

        @media (min-width: 1400px) {
          font-size: 24px;
        }
      }
    }

    .footerCta {
      .footerCtaBtn {
        display: flex;

        &:hover {
          border-color: var(--light);
        }
      }
    }
  }

  .footerBottom {
    position: relative;
    z-index: 1;
    padding: 7% 0;

    @media (min-width: 1400px) {
      padding: 120px 0;
    }

    &:after {
      position: absolute;
      content: "";
      background: var(--color-primary);
      width: 90%;
      height: 100%;
      left: 0;
      top: 0;
      border-top-right-radius: 130px;

      @media (min-width: 768px) {
        background: var(--color-primary)
          url("/images/background/footer-bg-img.svg") no-repeat left bottom;
        background-size: auto 40%;
        border-top-right-radius: 200px;
      }

      @media (min-width: 992px) {
        background-size: auto 60%;
      }
    }

    .footerBottomContent {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 40px;
      position: relative;
      z-index: 1;

      @media (min-width: 768px) {
        width: 70%;
        margin: auto;
        flex-direction: row;
        align-items: flex-end;
      }

      @media (min-width: 992px) {
        width: 100%;
        justify-content: center;
      }

      @media (min-width: 992px) {
        gap: 80px;
      }

      .footerLeft {
        @media (min-width: 768px) {
          order: 1;
        }

        .label {
          font-size: 14px;
          margin-bottom: 5px;

          @media (min-width: 1200px) {
            font-size: 16px;
          }

          @media (min-width: 1400px) {
            font-size: 20px;
            margin-bottom: 10px;
          }
        }

        .email {
          color: var(--dark);
          font-size: 20px;
          text-decoration: underline;
          display: inline-block;
          margin-bottom: 24px;

          @media (min-width: 1200px) {
            font-size: 24px;
            margin-bottom: 34px;
          }

          @media (min-width: 1400px) {
            font-size: 30px;
            margin-bottom: 50px;
          }
        }

        .social {
          display: flex;
          gap: 12px;
          margin-bottom: 24px;

          @media (min-width: 1200px) {
            margin-bottom: 34px;
          }

          @media (min-width: 1400px) {
            gap: 20px;
            margin-bottom: 50px;
          }

          li {
            list-style: none;

            a {
              color: var(--dark);
              font-size: 20px;
              font-weight: 500;
              text-decoration: none;
              display: inline-block;
              transition: all 0.5s ease-in-out;

              @media (min-width: 1200px) {
                font-size: 24px;
              }

              @media (min-width: 1400px) {
                font-size: 30px;
              }

              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }
      }

      .footerRight {
        @media (min-width: 768px) {
          order: 2;
          width: 23%;
        }

        @media (min-width: 992px) {
          width: 12%;
        }

        @media (min-width: 1200px) {
          width: 15%;
        }

        @media (min-width: 1400px) {
          width: 14%;
        }

        @media (min-width: 1600px) {
          width: 17%;
        }

        .logo {
          width: 40px;
          margin-bottom: 10px;

          @media (min-width: 1200px) {
            width: 60px;
            margin-bottom: 24px;
          }

          @media (min-width: 1600px) {
            width: 80px;
            margin-bottom: 34px;
          }
        }

        p {
          font-size: 16px;
          line-height: 20px;

          @media (min-width: 1200px) {
            font-size: 20px;
            line-height: 24px;
          }

          @media (min-width: 1400px) {
            font-size: 26px;
            line-height: 34px;
          }

          @media (min-width: 1600px) {
            font-size: 32px;
            line-height: 40px;
          }
        }
      }
    }
  }
}
