@use "@/styles/abstracts/mixins";
@use "@/styles/abstracts/variables";

.portfolioWrapper {
  padding: 100px 0;
  background: var(--light) url("/images/background/portfolio-page-bg.png")
    no-repeat fixed top right;
  background-size: 100%;

  .titleWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 30px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 40px;
      gap: 40px;
    }
  }

  .title {
    font-family: var(--font);
    font-size: 32px;
    line-height: 1;
    font-weight: 400;
    flex: 0 0 50%;

    @media (min-width: 576px) {
      font-size: 48px;
    }

    @media (min-width: 768px) {
      font-size: 40px;
    }

    @media (min-width: 992px) {
      font-size: 52px;
    }

    @media (min-width: 1200px) {
      font-size: 64px;
    }

    @media (min-width: 1400px) {
      font-size: 70px;
    }

    @media (min-width: 1600px) {
      font-size: 80px;
    }
  }

  .subtitle {
    font-family: var(--font);
    font-size: 16px;
    line-height: 20px;
    flex: 0 0 40%;

    @media (min-width: 992px) {
      font-size: 18px;
      line-height: 22px;
      flex: 0 0 37%;
    }

    @media (min-width: 1400px) {
      font-size: 24px;
      line-height: 30px;
    }

    @media (min-width: 1600px) {
      font-size: 30px;
      line-height: 38px;
    }
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @media (min-width: 992px) {
      margin-bottom: 30px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 40px;
    }

    .filterBtn {
      padding: 5px 10px;
      border-width: 0 0 1px;
      border-style: solid;
      border-color: transparent;
      border-radius: 0;
      background: #ffffff;
      color: #000000;
      font-family: var(--font);
      text-transform: none;
      font-size: 14px;
      font-weight: 400;
      transition: all 0.3s ease-in-out;

      @media (min-width: 992px) {
        font-size: 16px;
      }

      @media (min-width: 1200px) {
        font-size: 18px;
      }

      &.active,
      &:hover {
        font-weight: 500;
      }

      &.active {
        border-color: #000000;
      }
    }
  }
}

.portfolioGridWrapper {
  padding: 10px 0;

  .portfolioCardGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .portfolioCard {
    background: #f3f6f4;
    border-radius: 10px;
    padding: 30px;
    opacity: 1;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }

    .tag {
      display: inline-block;
      border-radius: 10px;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      padding: 5px 10px;
      color: #009c51;
    }

    .authorName {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 20px 0;

      .authorImg {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
      }

      h3 {
        font-family: var(--font);
        font-size: 18px;
        font-weight: 500;
      }
    }

    h4 {
      font-family: var(--font);
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;

      @media (min-width: 992px) {
        font-size: 24px;
      }
    }

    p {
      font-family: var(--font);
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 20px;
    }

    .testiImg {
      border-radius: 10px;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .detWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-top: 20px;

      @media (min-width: 1200px) {
        flex-direction: row;
      }

      .percentTag {
        background-color: #ffffff;
        padding: 6px 20px;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        border-radius: 30px;
      }

      .readLink {
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}
