@use "@/styles/abstracts/mixins";
@use "@/styles/abstracts/variables";

.btnWrapper {
  display: flex;
  justify-content: center;

  .button {
    display: flex;
    justify-content: center;
    text-transform: none;
    text-decoration: none;
    position: relative;
    padding: 15px 35px;
    box-shadow: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    font-family: var(--font);
    box-shadow: none;
    transition: all 0.3s ease;
    gap: 10px;

    @media (min-width: 1200px) {
      font-size: 20px;
    }

    @media (min-width: 1600px) {
      font-size: 24px;
    }

    &:hover {
      box-shadow: none;
    }

    &.contained {
      display: inline-block;
      border: 1px solid var(--dark);
      border-radius: 50px;
      background: var(--light);
      color: var(--dark);
      overflow: hidden;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        bottom: -10px; // start from bottom
        left: 50%; // center horizontally
        width: 20px;
        height: 20px;
        background: #000000; // hover fill color
        border-radius: 50%;
        transform: translateX(-50%) scale(0); // hidden circle
        transition: transform 0.3s ease-in-out;
        z-index: -1;
      }

      &:hover {
        color: #ffffff; // text color change

        &::before {
          transform: translateX(-50%) scale(20); // expand big enough to fill button
        }
      }
    }

    &.icon {
      padding: 0;
      border: 0;
      background: transparent;
      color: var(--dark);
    }
  }
}
